<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>830168814789-k2jb6cj4jileau20udps8hq7c96upajf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830168814789-k2jb6cj4jileau20udps8hq7c96upajf</string>
	<key>API_KEY</key>
	<string>AIzaSyDKxj2ThGDJ3vzpcRAPStGDXJpBaovFHdg</string>
	<key>GCM_SENDER_ID</key>
	<string>830168814789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alangavr.Greatest-App</string>
	<key>PROJECT_ID</key>
	<string>greatest-app-c8731</string>
	<key>STORAGE_BUCKET</key>
	<string>greatest-app-c8731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>GOOGLE_APP_ID</key>
	<string>1:830168814789:ios:b08c20016b6ad083</string>
	<key>DATABASE_URL</key>
	<string>https://greatest-app-c8731.firebaseio.com</string>
</dict>
</plist>
